* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    .logo {
      cursor: pointer;
      img {
        width: 100px;
      }
    }

    nav {
      ul {
        display: flex;
        gap: 30px;

        a {
          list-style: none;
          font-size: large;
          font-weight: bold;
          color: white;
        }
        
        .active {
          color: yellow;
        }
      }
    }
  }

  .artists {
    display: flex;
    justify-content: center;

    .wrapper {
      img {
        width: 400px;
        height: 600px;
      }
    }
  }
}