* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@mixin mobile(){
  @media (max-width: 450px) {
    @content
  }
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;

    .logo {
      cursor: pointer;

      img {
        width: 75px;
      }
    }

    nav {
      ul {
        display: flex;
        gap: 30px;

        a {
          list-style: none;
          font-size: large;
          font-weight: bold;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
        
        .active {
          color: yellow;
        }
      }
    }
  }

  .home {
    padding: 10px 30px;

    .latest-videos {
      display: flex;
    }
  }

  .artists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 30px;

    .wrapper {
      height: 600px;
      gap: 10px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
      
      h3 {
        position: absolute;
        left: 20px;
        bottom: 20px;
      }

      .social-media {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        gap: 5px;

        svg {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }

  }

  footer {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
  }
}